@import url(https://fonts.googleapis.com/css?family=Inconsolata);

html {
    height: 100%
}
body {
    height: 100%;
    color: #DDD;
    background-color: #123a4a;
    background-position: top center;
    background-repeat: repeat,no-repeat;
    margin: 0;
    max-width: 100%;
    background-image: url(https://assets.l.is/img/Layout/bg_pattern_main.png),linear-gradient(top,#1b586e 0%,#184e62 23%,#154456 58%,#123a4a 93%,#123a4a 100%);
    background-image: url(https://assets.l.is/img/Layout/bg_pattern_main.png),-webkit-linear-gradient(top,#1b586e 0%,#184e62 23%,#154456 58%,#123a4a 93%,#123a4a 100%);
    background-image: url(https://assets.l.is/img/Layout/bg_pattern_main.png),-moz-linear-gradient(top,#1b586e 0%,#184e62 23%,#154456 58%,#123a4a 93%,#123a4a 100%);
}
div, article, nav, header, aside, footer, body{
	box-sizing: border-box;
    padding: 0;
}
main {
    width: 100%;
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    color: #DDD;
    height: inherit;
    background-color: rgba(200, 200, 200, .5);
    background-attachment: fixed;
    order: 0;
    margin: 0;
    justify-content: space-around;
    max-width: 90em;
    align-content: flex-start;
    padding: 1em;
    height: auto;
}
div.containall{
    margin: 0;
}
div.message{
    width: 100%;
}
h1, h2, h3, h4 {
    color: orange;
}
p {
    margin: 0;
}
header{
	width: 100%;
	text-align: center;
    min-height: 8em;
    height: 20vh;
    overflow: hidden;
    background-color: #1f6684;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('img/header/N8X7L4e.png');
}
.flexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
._i_myndun {
    margin: 0;
    font-size: 15vh;
    font-family: "ISOCPEUR", 'Inconsolata', "Monaco", monospace;
    padding: 0 0.25em;
    -webkit-text-stroke: 0.01em rgba(255,255,255,0.5);
    color: rgb(0, 0, 0);
    line-height: 1;
}
.headerLink{
    width: 100%;
}
header p{
    margin-top: 2vh;
}
header .logo{
    height: 100%;
    background-color: rgba(0,0,0,0.1);
}
header .userinfo{
    margin: 0;
    position: absolute;
    right: 1em;
    top: 1em;
    text-align: left;
    background-color: rgba(0, 189, 134, 0.6);
    padding: 0.5em;
    border-radius: 1em;
}
header .userinfo p{
    margin: 0;
    padding: 1em;
    border: 0.15em dashed rgba(0,0,0,0.8);
    border-radius: 1em;
}
.fullWidthCenter{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
header .userinfo p a{
    color: orange;
}
.quote{
    background: none;
    position:absolute;
    left:0px;
    top:0px;
    height: 20vh;
    min-height: 10em;
    width: 100%;
    text-align: center;
    padding-top: 18vh;
    padding-left: 2em;
}
.warning{
    color: orange;
}
nav{
    align-self: flex-start;
    display: block;
    width: 100%;
    background-color: #DDD;
    min-width: 10em;
    color: #444;
}
nav ul{
    max-width: 90em;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
}
.hideList{
    display: none;
}
nav ul li{
    list-style-type: none;
    flex-basis: 6em;
    flex-grow: 1;
    display: flex;
    align-items:center;
    justify-content: center;
}
nav ul li:hover{
    background-color: #AAA;
}
nav ul li a{
    padding: .5em 3em;
    display: block;
    text-align: center;
}
.current{
    background-color: #0f303e;
    color: #FFF;
}
.current a{
    color: #FFF;
}
nav a:hover{
    text-decoration: none;
}
.current:hover{
    background-color: #144052;
}
a.headerLink:hover, a.headerLink:visited, a.headerLink:active, a.headerLink{
    text-decoration: none;
}
img{
	max-width: 100%;
    max-height: 100%;
    border-radius: 0.25em;
    margin-top: 0.25em;
}
img.browseImg{
    width: 100%;
}
figure{
	width: 100%;
	max-width: 100%;
    max-height: 20em;
	display: block;
    padding: 0 0.5em;
    z-index: 2;
    overflow: hidden;

}
article{
	width: 25em;
    max-width: 30em;
    margin: 0 0.75em;
	margin-bottom: 1em;
	padding: 0.5em;
    padding-bottom: 0;
	display: inline;
	background-color: #0f303e;
	border: 1px solid #666;
	border-radius: 0.5em;
	color: #CCC;
	text-align: center;
    overflow: hidden;
    flex-basis: 20em;
    flex-grow: 1;
}
div.fadeout{
    position: relative;
    height: 1em;
    background-color: #0f303e;
    background: linear-gradient(rgba(15, 48, 62, 0), #0f303e, #0f303e);
    bottom: -0.2em;
}
.imageMenu{
    text-align: center;
    margin-top: 1em;
}
article img{
    max-height: 15em;
    z-index: 3;
}
article p{
	display: inline-block;
}
form, .subForm{
    color: #333;
    max-width: 50%;
    width: 40em;
    text-align: center;
}
form div div div{
    margin: 1em auto;
}
footer{
    color: rgb(0, 0, 0);
	width: 100%;
	text-align: center;
    align-self: flex-end;
    background-color: #1f6684;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-image: url('img/footer.png');
}
.info{
    color: #DDD;
    display: inline-flex;
    margin: .5em;
    text-align: left;
    background-color: rgba(0, 189, 134, 0.5);
    padding: 0.5em;
    border-radius: 1em;
}
.info div{
    margin: 0;
    padding: .5em 1em;
    border: 0.15em dashed rgba(0,0,0,0.8);
    border-radius: 1em;
}
.hidden{
    display: none;
}
#fileToUpload{
    margin: 0 auto;
}
/* Icon */

.sammieCont{
    transition: all 0.5s;
    cursor: pointer;
    padding: 0.5em;
}
.sammieCont:hover{
    background-color: #AAA;
}
.sammie {
  width: 3em;
  height: 2.5em;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.sammie span {
  display: block;
  position: absolute;
  height: 0.5em; /* 9px */
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.sammie span:nth-child(1) {
  top: 0; /* 0px */
}

.sammie span:nth-child(2),.sammie span:nth-child(3) {
  top: 1em; /* 18px */
}

.sammie span:nth-child(4) {
  top: 2em; /* 36px */
}

.sammie.open span:nth-child(1) {
  top: 1em; /* 18px */
  width: 0%;
  left: 50%;
}

.sammie.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sammie.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sammie.open span:nth-child(4) {
  top: 1em; /* 18px */
  width: 0%;
  left: 50%;
}
.superForm{
    width: 100%;
    max-width: 100%;
}
.subForm{
    margin: 0;
    display: inline-block;
}

@media (max-width: 40em) {
    .containall{
        max-width: 100%;
    }
    ._i_myndun{
        max-width: 100%;
        font-size: 20vw;
    }
    nav{
        display: block;
        width: 100%;
        text-align: center;
        border-bottom-left-radius: 0;
    }
    nav ul li a{
        text-align: center;
        width: 100%;
        display: block;
    }
    header .userinfo{
        display: none;
    }
    form, .subForm{
        max-width: 100%;
        padding: 1.5em 0;
        border-bottom: 1px solid rgba(15, 48, 62, 0.3);
    }
    form:last-child, .subForm:last-child{
        border: none;
    }
    article img{
        max-height: 100%;
    }
}
@media (min-width: 90em){
    main{
        width: 90em;
    }
}
@media (min-width: 40em){
    .containall{
        display: flex;
        width: 100%;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    .mobileOnly{
        display: none;
    }
    .sammieCont{
        display: none;
    }
    nav ul, .hideList{
        display: flex;
    }
}
@media (min-width: 70em){
    nav ul li{
        display: block;
        border: none;
        border-right: 1px solid rgba(15, 48, 62, 0.3);
    }
    nav ul li:first-child{
        border-left: 1px solid rgba(15, 48, 62, 0.3);
    }
}
