body,
main {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    color: #DDD;
}
html {
    height: 100%
}
body {
    background-color: #0f303e;
    background-image: url(../img/smallbackground.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: fixed;
    margin: 0;
    max-width: 100%;
    justify-content: center
}
div, article, nav, header, aside, footer, body{
	box-sizing: border-box;
    padding: 0;
}
main {
    height: inherit;
    background-color: rgba(200, 200, 200, .5);
    background-attachment: fixed;
    order: 0;
    margin: 0;
    justify-content: space-around;
    max-width: 80em;
    align-content: flex-start;
    padding: 1em
}
div.containall{
    display: flex;
    margin: 0;
}
h1, h2, h4 {
	margin: 0;
    padding-right: 1em
}
p {
    margin: 0;
}
header{
	width: 100%;
	background-color: #1f6684;
	text-align: center;
    min-height: 10em;
    height: 20vh;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
._i_myndun { 
    font-size: 15vh;
    font-family: "ISOCPEUR", "Consolas", "Monaco", sans-serif;
    padding: 0 0.25em;
    -webkit-text-stroke: 0.01em rgba(255,255,255,0.5);
    color: rgb(0, 0, 0);
    line-height: 1;
}
header div{
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    display: inline-flex;
    align-items: center;
}
nav{
    background-color: #DDD;
    height: 100%;
    border-bottom-left-radius: 2em;
    min-width: 8em;
    color: #444;
}
nav h3{
    margin: 0;
    padding: 0.5em 0 0.5em 1em;
    text-shadow: 0.1em 0.1em #AAA;
}
nav ul{
    padding: 0;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    padding-left: 3em;
}
a.current{
    background-color: #0f303e;
    color: #FFF;
    width: 100%;
    display: block;
}
a.current:hover{
    background-color: #144052;
}
a.headerlink:hover, a.headerlink:visited{
    text-decoration: none;
}
img{
	max-width: 100%;
    max-height: 100%;
}
figure{
	width: 100%;
	max-width: 100%;
	display: block;
}
article{
	width: 25em;
    max-width: 30em;
	margin-bottom: 1em;
	padding: 1em 0.5em;
	display: inline;
	background-color: #0f303e;
	border: 1px solid #666;
	border-radius: 0.5em;
	color: #CCC;
	text-align: center;
    overflow: hidden;
}
article img{
    max-height: 15em;
}
article p{
	display: inline-block;
}
footer{
	width: 100%;
	background-color: #1f6684;
	text-align: center;
}
@media (max-device-width: 30em) {
    body{
        font-size: 0.8em;
    }
    h1, h2{
        font-size: 0.8em;
        margin-left: 0;
        max-width: 100%;
    }
    ._i_myndun{
        max-width: 100%;
    }
}
@media (max-device-width: 20em){
    h1{
        font-size: 0.4em;
    }
}
